@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

.app {
  width: 100%;
  min-height: 100vh;
  position: relative;
  background-image: url("./assets/bg-desktop-light.jpg");
  background-repeat: no-repeat;
  background-color: hsl(0, 0%, 100%);
  display: flex;
  justify-content: center;

  .todo-container {
    margin-top: 80px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;

    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      color: white;
      margin-bottom: 20px;

      h2 {
        font-weight: 700;
        letter-spacing: 12px;
      }

      img {
        width: 4%;
        height: 4%;
      }
    }
  }

  li {
    list-style: none;
  }

  &.active {
    background-color: hsl(235, 21%, 11%);
    background-image: url("./assets/bg-desktop-dark.jpg");
  }
  .footer {
    p {
      color: hsl(234, 11%, 52%);
      font-size: 12px;
      text-align: center;
      margin: 30px;
    }
  }
}
